/* =============
    body
// ============= */

#grid-container {
    padding-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;

    @include xl {
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". grid-container .";

    }

    ul {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 50px;
        height: 110vh;

        @include xl {
            grid-area: grid-container;

        }

        li {
            background-position: center;
            background-size: cover;

            display: flex;
            justify-content: center;
            align-items: center;
            color: White;
            text-align: center;

            >div {
                #icon1{
                    padding-bottom: 20px;
                }

                #icon2{
                    padding-bottom: 20px;
                }

                #icon3{
                    padding-bottom: 20px;
                }

                #icon4{
                    padding-bottom: 20px;
                }

                #icon5{
                    padding-bottom: 20px;
                }

                #icon6{
                    padding-bottom: 20px;
                }
            }


            &:nth-child(1) {
                background-image: url("../img/body/summertime_fun_camp_image.jpg");
            }

            &:nth-child(2) {
                background-image: url("../img/body/star_wars_camp_image.jpg");
            }

            &:nth-child(3) {
                background-image: url("../img/body/wizarding_games_camp_image.jpg");
            }

            &:nth-child(4) {
                background-image: url("../img/body/hunger_games_camp_image.jpg");
            }

            &:nth-child(5) {
                background-image: url("../img/body/video_games_camp_image.jpg");
            }

            &:nth-child(6) {
                background-image: url("../img/body/shark_tank_camp_image.jpg");
            }


        }


    }
}