/* =============
    body-buttons
============= */

#body-buttons {

    @include xl {
        grid-template-areas: ". body-buttons .";

    }

    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;


    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    #b2 {
        padding-left: 200px;
    }

    #b3 {
        padding-left: 200px;
    }

    #b4 {
        padding-left: 200px;
    }

}