#preloader {

    position: absolute;

    width: 100%;
    z-index: 1000;

    >div {

        svg {
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 100%;

            .hidden {
                display: none;
            }


        }

    }
}